.zing-logo {
    width: 120px;
    height: 40px;
    display: inline-block;
    background: var(--img-logo-mp3) 50% / contain no-repeat;
}

.sidebar-divider>hr {
    border: 0 0 0.5px 0;
    border-color: rgba(255, 255, 255, 0.2);
}